

<div class="row create-post-page">
  <div class="col s6 offset-s3">
    <h4>Create a Post</h4>

<form action="/create-post" method="post">
  <input type="text" name="title" id="title" placeholder="Title">
   <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
       <label for="textarea1">Write Post Here</label>
  </div>
  <input type="text" name="tags" placeholder="#tags">
  <input type="submit" value="Go">
</form>
    
  </div>
</div>