<div class="row profile">
  <div class="col s6 offset-s3">
    <% @user.posts.all.reverse.each do |post| %>
      <div class="card horizontal valign-wrapper">
        <div class="card-image">
          <% if @user.image_url %>
            <img src="<%= @user.image_url %>">
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3><i class="material-icons post-icon">title :</i><%= post.title %></h3>
            <h5><i class="material-icons post-icon">account_circle :</i><%= @user.username %></h5>
            <h5><i class="material-icons post-icon">message :</i><%= post.content %></h5>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>


 