<div class="row settings-page">
  <div class="col s2 offset-s5">
  
    <h4 class="sign-in-h4">Delete Your Account</h4>
    
    <form action="/settings" method="post">
      <input type="text" name="username" id="user_name" placeholder="Username" required>
      <input type="password" name="password" id="_password" placeholder="Password" required>
      <input type="submit" value="Delete Account"> 
    </form>
    
  </div>
</div>