
<div class="row sign-in-page">
  <div class="col s2 offset-s5">
  
    <h4>Sign In</h4>
    
    <form action="/sign-in" method="post">
      <input type="text" name="username" id="username" placeholder="Username">
      <input type="password" name="password" id="password" placeholder="Password">
      <input type="submit" value="Go">
    </form>
    
  </div>
</div>