<a href="/sign-in" />Sign In</a>

<form action="/sign-up" method="post">
  <input type="text" name="first_name" id="first_name" placeholder="First Name">
  <input type="text" name="last_name" id="last_name" placeholder="Last Name">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="date" name="birthday" id="birthday" placeholder="Birthday">
  <input type="submit" value="Go">
</form>