
<div class="row sign-in-page">
  <div class="col s2 offset-s5">
  
    <h4 class="sign-in-h4">Sign-In</h4>
    
    <form action="/sign-in" method="post">
      <input type="text" name="username" id="user_name" placeholder="Username">
      <input type="password" name="password" id="_password" placeholder="Password">
      <input type="submit" value="Sign in"> 
      <p><a class="go-to-sign-up-link" href="/sign-up">Go to Sign-Up Page</a></p>
    </form>
    
  </div>
</div>