<div class="row home-page">
  <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
    <h1>Home Feed</h1>
    <h3 class="home-page-h3">Create Post</h3>
    <form action="/create-post" method="post">
      <input type="text" name="title" id="home_title" placeholder="Title" required>
      <input type="text" name="content" id="home_content" placeholder="Write Post Here" required>
      <input type="submit" value="Go">
    </form>
    <% @posts.reverse.each do |post| %>
      <div class="card horizontal valign-wrapper">
        <div class="card-image hide-on-small-only">
          <% if post.user.image_url %>
            <img src="<%= post.user.image_url %>">
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3><i class="material-icons post-icon">title :</i><%= post.title %></h3>
            <h4><i class="material-icons post-icon">account_circle :</i><%= post.user.username %></h4>
            <h5><i class="material-icons post-icon">message :</i><%= post.content %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


