
<div class="row home-page">
  <div class="col s4 offset-s4">
    <% @posts.reverse.each do |post| %>
      <div class="card">
        <div class="card-content">
          <h3><i class="material-icons post-icon">title :</i><%= post.title %></h3>
          <h4><i class="material-icons post-icon">account_circle :</i><%= post.user.username %></h4>
          <h5><i class="material-icons post-icon">message :</i><%= post.content %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>