<h1>Create a Post</h1>

<form action="/write-post" method="post">
  <input type="text" name="title" id="title" placeholder="Title">
  <input type="text/area" name="content" id="content" placeholder="Write Post Here">
  <input type="text" name="tags">
  <input type="submit" value="Go">
</form>